:root {
  --color-primary: #2e7983;
  --color-primary1: #378f9b;
  --color-primary-light: #15aacf;
  --color-secundary: #2a58a1;
  --color-secundary-dark: #1c2d34;
  --color-grey-dark: #556069;
  --color-grey: #b7ccd8;
  --color-grey-light: #cfe2e2;
  --color-grey-light1: #dce5fa;
  --color-black: #2d3338;
  --color-light: rgb(228, 237, 246);
  --color-light1: rgb(246, 241, 241);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  --shadow-light: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  --line: 2px solid var(--color-grey);
  --gradient: to bottom right, var(--color-primary), var(--color-primary-light); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(var(--gradient));
  background-size: cover;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark); }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex-basis: 95%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-light);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.5s;
    margin-right: -3.25rem; }
    .search__input:focus {
      width: 100%;
      outline: 100%;
      background-color: var(--color-light1); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey); }
  .search__button {
    border: none;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-light1); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 3.5rem;
    width: 3.5rem;
    fill: var(--color-grey-dark); }
  .user-nav__notification {
    font-size: 1.2rem;
    font-weight: 600;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-light1);
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 80%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary1);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item--active::before {
    background-color: var(--color-primary); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .side-nav__link:link, .side-nav__link:visited {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.5rem 0.5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: 0.7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-grey);
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 0.7rem 2rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    font-size: 1.4rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 23.375em) {
      .overview__location {
        margin-left: 3rem; } }
  .overview__icon-location {
    margin-right: 0.5rem; }
    @media only screen and (max-width: 23.375em) {
      .overview__icon-location {
        display: none; } }
  .overview__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: var(--color-light);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
    .overview__rating-average {
      font-size: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .overview__rating-average {
          font-size: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        display: none; } }

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.6s; }
  .btn-inline:hover {
    color: var(--color-primary-light); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1.6s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: linear-gradient(var(--gradient));
  color: var(--color-light);
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    transition: all 0.4s;
    height: 100%;
    width: 100%; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0rem;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to top left, var(--color-primary), var(--color-primary-light)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 37.5em) {
    .list {
      margin: 1.8rem 0;
      padding: 1.8rem 0; } }
  @media only screen and (max-width: 31.25em) {
    .list {
      margin: 1rem 0;
      padding: 1rem 0;
      font-size: 1rem; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover; }
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      .list__item::before {
        background-color: var(--color-primary);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none; } }

.recommend {
  font-size: 1.3rem;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 0.3rem solid var(--color-light1); }
    .recommend__photo:not(:last-of-type) {
      margin-right: -2rem; }

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center; }

.review {
  background-color: var(--color-light);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center;
    margin-top: 3rem; }
  .review__photo {
    height: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .review__user-box {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .review__user-name {
    font-weight: 600; }
  .review__user-date {
    font-size: 1rem; }
  .review__rating {
    font-size: 2.5rem;
    color: var(--color-primary);
    font-weight: 600; }
  .review::before {
    content: "\201C";
    position: absolute;
    line-height: 1;
    top: -2.5rem;
    left: -0rem;
    font-size: 20rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-grey-light1);
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only csreen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.header {
  height: 7rem;
  background-color: var(--color-grey-light);
  border-bottom: 0.1rem solid var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 13rem;
      align-content: space-around; } }

.logo {
  height: 4.5rem;
  margin-left: 3rem; }

.sidebar {
  background-color: var(--color-grey-dark);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: var(--color-grey-light);
  flex-grow: 1; }

.gallery {
  display: flex;
  height: 21.8rem; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      height: 82%; } }
  .gallery__photo {
    width: 100%;
    height: 100%;
    display: block; }

.detail {
  display: flex;
  background-color: var(--color-grey-light1);
  padding: 4.5rem;
  border-bottom: var(--line);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.description {
  flex: 0 0 60%;
  background-color: var(--color-light);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1; }
