* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-size: cover;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark);
}
