:root {
  --color-primary: #2e7983;
  --color-primary-light: #15aacf;
  --color-secundary: #2a58a1;
  --color-secundary-dark: #1c2d34;
  --color-grey-dark: #556069;
  --color-grey: #b7ccd8;
  --color-grey-light: #cfe2e2;
  --color-grey-light1: #dbd9b5;
  --color-black: #2d3338;
  --color-light: rgb(255, 255, 255);
  --color-light1: rgb(246, 241, 241);

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
