.detail {
  display: flex;
  background-color: var(--color-grey-light1);
  padding: 4.5rem;
  border-bottom: var(--line);
  font-size: 1.4rem;
}

.description {
  flex: 0 0 60%;
  background-color: var(--color-light);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;
}
