.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 0.7rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.4rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-smallest-phone) {
      margin-left: 3rem;
    }
  }

  &__icon-location {
    margin-right: 0.5rem;

    @media only screen and (max-width: $bp-smallest-phone) {
      display: none;
    }
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: var(--color-light);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }

    &-average {
      font-size: 2rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.5rem;
      }
    }

    &-count {
      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }
  }
}
