.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-light);
    border: none;
    color: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.5s;
    margin-right: -3.25rem;

    &:focus {
      width: 100%;
      outline: 100%;
      background-color: var(--color-light1);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey);
    }
  }

  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark);
  }
}
